[hurl]
repo = "/var/hurl"
index = "/var/hurl-index"
userdb = "/var/hurl/userdb"
commentdb = "/var/hurl/commentdb"
authkeys = "/home/hurl/.ssh/authorized_keys"

[arch]
absroot = "/var/abs"

[/]
tools.gzip.on = True

[/static]
tools.staticdir.on = True
tools.staticdir.dir = "static"
