html {
    font-family: sans-serif;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
}

a {
    color: #000066;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    padding: 0;
    margin: 0;
}

body > header {
    display: block;
    border-bottom: 2px solid #ddd;
    padding: 0.5em 10%;
    margin: 0;
    background: #fafafa;
}

body > header div.stats {
    float: right;
    padding-top: 1em;
    padding-right: 2px;
    font-size: 75%;
    color: #666;
}

body > header div.stats span {
    font-weight: bold;
    font-size: 130%;
    color: #aa5555;
}

body > header div.stats span:first-child {
    color: #55aa55;
}

body > section {
    padding: 0 10%;
    display: block;
}

nav ul:not(.pkglist) {
    list-style-position: inside;
    list-style-type: square;
    padding-left: 6px;
}

nav ul:not(.pkglist) li {
    border: 1px solid #aaa;
    padding: 0.3em;
    margin: 4px 0;
    padding-left: 1em;
    width: 30em;
}

nav:not(.main) ul:not(.pkglist) li {
    font-size: 80%;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    background-color: #f6f6f6;
}

nav:not(.main) ul:not(.pkglist) li a {
    color: black;
}

input.search {
    border: 1px solid #bfbfbf;
    outline: 0;
    background: url("/static/search.png") no-repeat 5px 5px;
    background-color: white;
    height: 16px;
    padding: 4px;
    padding-left: 25px;
    width: 40em;
    border-radius: 10px;

    -moz-appearance: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

input.search:focus {
    outline: 0;
    border-color: #8f8f8f;
}

h1 {
    margin: 0;
    padding 0;
}

section.notice {
    display: block;
    padding: 0.1em 0.6em;
    background: #e6fae6;
    border: 1px solid #448844;
}

body > header > h1 {
    font-size: 1.5em;
}

body > header > h1 > a:first-child {
    font-size: 1.8em;
    color: #ee5555;
}

body > header > h1 > a:not(:first-child) {
    color: #55aa55;
}

h2 {
    font-size: 1em;
    margin: 0;
    padding 0;
}

section h1 {
    font-size: 1.3em;
    margin-top: 1em;
}

section section h1 {
    font-size: 1.1em;
    margin-top: 1em;
}

section.description {
    padding-top: 1.5em;
    display: block;
    clear: left;
}

.infolist {
    list-style-type: none;
    padding-left: 0;
}

.infolist > li {
    clear: both;
    padding: 0.2em;
}

.infolist > li > strong {
    display: block;
    min-width: 14em;
    float: left;
}

.infolist > li > ul {
    float: none;
    width: 80%;
    margin-left: 14em;
    display: block;
    column-width: 15em;
    -moz-column-width: 15em;
    overflow: visible;
    padding-left: 1em;
}

.files, .download_source {
    float: left;
    padding-top: 1em;
    min-width: 30em;
}

.commits {
    padding-left: 0;
    list-style-type: none;
}

.commit {
    min-height: 5em;
    padding: 0.5em;
    margin: 0.6em;
    border: 1px solid #bfbfbf;
    font-size: 85%;
}

.commit strong {
    float: left;
    clear: left;
    display: block;
    min-width: 6em;
}

.commit span {
    float: left;
    clear: right;
    display: block;
}

.commit:nth-child(even) {
    background: #f6f6f6;
}

.commit:nth-child(odd) {
    background: #fafafa;
}

.commitmsg {
    padding-top: 1em;
    white-space: pre;
    clear: left;
    color: #666;
}

.commitmsg:first-line {
    color: black;
}

.sources {
    display: block;
    clear: left;
}

.pkglist {
    column-width: 20em;
    -moz-column-width: 20em;
    list-style-type: none;
    padding-left: 0;
}

.pkglist li {
    clear: both;
    padding: 0.3em;
    border: 1px solid #888888;
    margin: 4px 0;
}

.pkglist li .dllink {
    float: right;
    font-size: 65%;
    color: #aa5555;
    padding-top: 0.25em;
}

.pkglist .branch_master {
    background: #e6fae6;
    border: 1px solid #448844;
}

.pkglist .in_hurl {
    background: #f0f0f0;
    border: 1px solid #aaa;
}

p {
    max-width: 65em;
}

.search_result {
    margin: 1em 2em;
    border: 1px solid #bfbfbf;
    padding: 0.6em;
}

.search_result:nth-child(even) {
    background: #f6f6f6;
}

.search_result:nth-child(odd) {
    background: #fafafa;
}

.search_result .tags {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 0.4em;
}

.search_result .tags li {
    display: inline;
    font-size: 80%;
    color: #888;
}

.search_result .tags li a {
    color: #888;
}

.search_result p {
    font-size: 90%;
    margin: 0;
    margin-top: 0.4em;
}

.search_result nav {
    float: right;
}

.search_result .dllink {
    display: block;
    color: #aa5555;
    font-size: 80%;
    height: 16px;
    padding-right: 20px;
    padding-top: 2px;
    background: url("/static/download.png") no-repeat right;
}

.dlsource a {
    color: #aa5555;
}

.search_result .brlink {
    display: block;
    color: #aa5555;
    font-size: 80%;
    margin-top: 0.5em;
}

.search_result a span {
    color: #ee5555;
}

.search_result hgroup {
    display: table;
}

.search_result h2, h3 {
    display: table-cell;
}

.search_result h3 {
    font-size: 0.9em;
    padding-left: 1em;
    color: #336633;
}

.search_result h3 span {
    color: #888;
}

nav.guides, nav.main {
    margin-right: 4em;
    display: block;
    float: left;
}
