<%inherit file="base.html"/>

<%def name="crumbs()">
 &middot; <span>abs</span>
</%def>

<%def name="title()">
ABS Repositories
</%def>

<%def name="content()">
<header>
  <h1>${self.title()}</h1>
</header>

<p>Be aware that the PKGBUILD to Cakefile conversion feature is not
perfect, PKGBUILDS making abundant use of bash features in their field
definitions will not be converted correctly. <em>Always check the
Cakefile before attempting to build an autoconverted package.</em></p>

<nav>
<ul>
  % for repo in repositories:
    <li><a href="/abs/${repo}">${repo}</a></li>
  % endfor
</ul>
</nav>

</%def>
