<%inherit file="base.html"/>

<%def name="stats()">
  abs repository contains <span>${len(packages)}</span> packages
</%def>

<%def name="crumbs()">
 &middot; <a href="/abs">abs</a>
 &middot; <span>${repo}</span>
</%def>

<%def name="title()">
ABS Packages: ${repo}
</%def>

<%def name="content()">
<header>
  <h1>${self.title()}</h1>
</header>

<nav>
<ul class="pkglist">
  % for pkg in packages:
    <li class="${"in_hurl" if pkg in in_hurl else ""}">
      <a href="/abs/${repo}/${pkg}">${pkg}</a>
      <a class="dllink" href="/abs/${repo}/${pkg}.tar.gz">
        ${pkg}.tar.gz
      </a>
    </li>
  % endfor
</ul>
</nav>

</%def>
