<!DOCTYPE html>
<title>hurl ${self.title()}</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<link rel="icon" href="/static/favicon.ico">

<header>
<h1><a href="/">hurl</a>${self.crumbs() if hasattr(self, "crumbs") else " &middot; heresy package repository"}</h1>

% if hasattr(self, "stats"):
<div class="stats">
  ${self.stats()}
</div>
% endif

<form method="get" action="/search/">
  <input class="search" type="text" name="q" placeholder="search repository"
   value="${self.searchvalue() if hasattr(self, "searchvalue") else ''}">
</form>
</header>

<section>
${self.content()}
</section>
