<%inherit file="base.html"/>

<%def name="stats()">
  branch ${branch} contains <span>${len(packages)}</span> packages
</%def>

<%def name="crumbs()">
 &middot; <a href="/branches">branches</a>
 &middot; <span>${branch}</span>
</%def>

<%def name="title()">
Branch ${branch}
</%def>

<%def name="content()">
<header>
  <h1>${self.title()}</h1>
</header>

<nav>
<ul>
  <li><a href="/branch-log/${branch}">Branch Changelog</a></li>
</ul>
</nav>

<section>
  <h1>Packages</h1>
  <ul class="pkglist">
    % for pkg in packages:
    <li>
      <a href="/package/${branch}/${pkg}">${pkg}</a>
      <a class="dllink" href="/source/${branch}/${branch.replace("/", "-")}-${pkg}.tar.gz"
         title="${branch.replace("/", "-")}-${pkg}.tar.gz">tar.gz
      </a>
    </li>
    % endfor
  </ul>

</section>
</%def>
