<%inherit file="base.html"/>

<%def name="stats()">
  repository contains <span>${numpackages}</span> packages in <span>${numbranches}</span> branches
</%def>

<%def name="title()">
Repository Index
</%def>

<%def name="content()">
<header>
  <h1>${self.title()}</h1>
</header>

<nav>
  <ul>
    <li><a href="/branch/master">Packages in <code>master</code></a></li>
    <li><a href="/branches">All branches in repo</a></li>
    <li><a href="/packages">All packages in repo</a></li>
  </ul>

  <ul>
    <li><a href="/abs">Automatically converted ABS packages</a></li>
  </ul>
</nav>

</%def>
