<%inherit file="base.html"/>

<%def name="crumbs()">
 &middot; <a href="/packages">packages</a>
 &middot; <span>${package}</span>
</%def>

<%def name="title()">
Package ${package}
</%def>

<%def name="content()">
<header>
  <h1>${self.title()}</h1>
</header>

<section>
  <h1>Branches with Package</h1>
  <ul class="pkglist">
    % for branch in branches:
    <li>
      <a href="/package/${package}/${branch}">${package}/${branch}</a>
      <a class="dllink" href="/source/${package}-${branch}.tar.gz">
        ${package}-${branch}.tar.gz
      </a>
    </li>
    % endfor
  </ul>

</section>
</%def>
