<%inherit file="base.html"/>

<%def name="stats()">
  package ${package} is contained in <span>${len(branches)}</span> branches
</%def>

<%def name="crumbs()">
 &middot; <a href="/packages">packages</a>
 &middot; <span>${package}</span>
</%def>

<%def name="title()">
Package ${package}
</%def>

<%def name="content()">
<header>
  <h1>${self.title()}</h1>
</header>

<section>
  <h1>Branches with Package</h1>
  <ul class="pkglist">
    % for branch in branches:
    <li class="branch_${branch}">
      <a href="/package/${branch}/${package}">${branch}/${package}</a>
      <a class="dllink" href="/source/${branch}/${branch.replace("/", "-")}-${package}.tar.gz"
        title="${branch.replace("/", "-")}-${package}.tar.gz">
        tar.gz
      </a>
    </li>
    % endfor
  </ul>

</section>
</%def>
