<%inherit file="base.html"/>

<%def name="display(pkg, name)">
  % if name in pkg:
  <li>
    <strong>${name.capitalize()}</strong>

    % if hasattr(pkg[name], "__iter__"):
      <ul>
        % for elem in pkg[name]:
        <li>${elem}</li>
        % endfor
      </ul>
    % else:
      <span>${pkg[name]}</span>
    % endif
  </li>
  % endif
</%def>

<%def name="title()">
Package ${package}/${branch}
</%def>

<%def name="content()">
<header>
  <h1>${self.title()}</h1>
</header>

<section>
  <ul class="infolist">
    %if "website" in pkg:
    <li><strong>Website</strong>
    <a href="${pkg['website']}">${pkg['website']}</a>
    % endif

    ${display(pkg, "version")}
    ${display(pkg, "release")}
    ${display(pkg, "licenses")}
    ${display(pkg, "architectures")}

    % if "sources" in pkg:
    <li><strong>Sources</strong>
    <ul class="sourcelist">
     % for source in pkg["sources"]:
      <li><a href="${source}">${source}</a></li>
     % endfor
    </ul>
    % endif

    % if "dependencies" in pkg:
    <li><strong>Dependencies</strong>
    <ul class="deplist">
     % for dep in pkg["dependencies"]:
      <li><a href="/package/${dep}">${dep}</a></li>
     % endfor
    </ul>
    % endif

    % if "build-dependencies" in pkg:
    <li><strong>Build Dependencies</strong>
    <ul class="builddeplist">
     % for dep in pkg["build-dependencies"]:
      <li><a href="/package/${dep}">${dep}</a></li>
     % endfor
    </ul>
    % endif
  </ul>
<section>

<section class="description">
  ${pkg["description"] if "description" in pkg else "No description..."}
</section>

<section>
<h1>Files</h1>
<ul>
  % for file in files:
  <li>
    <a href="/package/${package}/${branch}/file/${file}">${file}</a>
  </li>
  % endfor
</ul>
</section>
</%def>
