<%inherit file="base.html"/>

<%def name="crumbs()">
 &middot; <a href="/packages">packages</a>
 &middot; <a href="/branch/${branch}">${branch}</a>
 &middot; <span>${package}</span>
</%def>

<%def name="display(pkg, name)">
  % if name in pkg:
  <li>
    <strong>${name.capitalize()}</strong>

    % if hasattr(pkg[name], "__iter__"):
      <ul>
        % for elem in pkg[name]:
        <li>${elem}</li>
        % endfor
      </ul>
    % else:
      <span>${pkg[name] | h}</span>
    % endif
  </li>
  % endif
</%def>

<%def name="title()">
Package ${branch}/${package}
</%def>

<%def name="content()">
<header>
  <h1>${self.title()}</h1>
</header>

<nav>
<ul>
  <li><a href="/package-log/${branch}/${package}">Package Changelog</a></li>
</ul>
</nav>

<section>
  <ul class="infolist">

    ${display(pkg, "name")}

    %if "website" in pkg:
    <li><strong>Website</strong>
    <a href="${pkg['website']}">${pkg['website']}</a>
    % endif

    ${display(pkg, "description")}
    ${display(pkg, "version")}
    ${display(pkg, "release")}
    ${display(pkg, "licenses")}
    ${display(pkg, "architectures")}

    % if "dependencies" in pkg:
    <li><strong>Dependencies</strong>
    <ul class="deplist">
     % for dep in pkg["dependencies"]:
      % if len(dep) > 1:
      <li><a href="/packages/${dep[0] | h}">${dep[0] | h} ${dep[1] | h}
      ${dep[2] | h}</a></li>
      % else:
      <li><a href="/packages/${dep[0] | h}">${dep[0] | h}</a></li>
      % endif
     % endfor
    </ul>
    % endif

    % if "build-dependencies" in pkg:
    <li><strong>Build Dependencies</strong>
    <ul class="builddeplist">
     % for dep in pkg["build-dependencies"]:
      % if len(dep) > 1:
      <li><a href="/packages/${dep[0] | h}">${dep[0] | h} ${dep[1] | h}
      ${dep[2] | h}</a></li>
      % else:
      <li><a href="/packages/${dep[0] | h}">${dep[0] | h}</a></li>
      % endif
     % endfor
    </ul>
    % endif

    <li><strong>Files</strong>
    <ul class="filelist">
      % for file in files:
      <li>
        <a href="/package-file/${branch}/${package}/${file | h}">${file | h}</a>
      </li>
      % endfor
    </ul></li>

    <li><strong>Download Source</strong>
    <ul class="dlsource">
      <% ident = branch.replace("/", "-")+"-"+package %>
      <li>
        <a href="/source/${branch}/${ident}.tar.gz">
          tar.gz</a>
      </li>
      <li>
        <a href="/source/${branch}/${ident}.tar.bz2">
          tar.bz2</a>
      </li>
    </ul>
    </li>

  </ul>
</section>

% if readme:
<section>
${readme}
</section>
% endif

</%def>
