<%inherit file="base.html"/>

<%def name="stats()">
  ${'' if exact else "about"} <span>${num}</span> packages found
</%def>

<%def name="searchvalue()">${query | entity}</%def>

<%def name="crumbs()">
 &middot; <span>search</span>
</%def>

<%def name="title()">
Search: ${query}
</%def>

<%def name="content()">
<header>
  <h1>${self.title()}</h1>
</header>

<em>${'' if exact else "about"} ${num} packages found</em>

% for pkg in results:
<div class="search_result">
  <%
    package = pkg["package"]
    branch = pkg["branch"]
    description = pkg["description"]
    ident = branch.replace("/", "-")+"-"+package

    if len(description) > 80:
      description = pkg["description"][:80]+"..."
  %>

  <nav>
    <a class="dllink" href="/source/${branch}/${ident}.tar.gz">
      ${ident}.tar.gz</a>

    <a class="brlink" href="/package/${package}">
      branches with this package</a>
  </nav>

  <hgroup>
  <h2><a href="/package/${branch | h}/${package | h}">
    ${branch | h}/<span>${package | h}</span></a></h2>
  <h3>${pkg["version"]}<span>-${pkg["release"]}</span></h3>
  </hgroup>

  % if "tags" in pkg:
  <ul class="tags">
    % for i, tag in enumerate(pkg["tags"]):
      <li><a href="/search/?q=tags:${tag}">
        ${tag | h}${", " if i < len(pkg["tags"])-1 else ''}
      </a></li>
    % endfor
  </ul>
  % endif

  <p>${description | h}</p>

</div>
% endfor

</%def>
